<div id="s_caffeine_form" class="substance_form hidden">
  <%= form_for :caffeine_calc, url: caffeine_calc_path, remote: true do |f| %>
    <div class="line">
      <%= f.select :type, options_for_select([['coffee', 'coffee'],['tea', 'tea']]), {required: true}, {:class => "drop_down"}%></div>
      <div class="line">
      <%= f.label :cups%>:
      <%= f.number_field :cups, required: true, min: 1 %> </div>

 <div class="line">
 <%= f.label :hours %>:
<%= f.number_field :hours, required: true, min: 1 %>
    </div>
    <div class="submit">
      <%= f.submit "Check caffeine levels", :class=> "button", :id=>"caf_button" %>
    </div>
  <% end %>
</div>


