<div id="s_nicotine_form" class="mobile substance_form hidden">
  <%= form_for :nicotine_calc, url: nicotine_calc_path, remote: true do |f|%>
    <div class="line">
      <%= f.label :cigarettes %>:
      <%= f.number_field :cigarettes, required: true, min: 1 %>
    </div>
    <div class="line">
      <%= f.label :hours %>:
      <%= f.number_field :hours, required: true, min: 1 %>
    </div>
    <%= render "chart/save_option" %>
    <div class="submit">
      <%= f.submit "Check nicotine levels", :class=> "button", :id=> "nic_button" %>
    </div>
  <% end %>
</div>


