<div class='registration_form' id='mobile_registration'>
  <%= form_for @user do |f| %>
    <%= f.label "Username" %>
    <%= f.text_field :user_name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :weight %>
    <%= f.number_field :weight, min: 1 %>
    <%= f.select :gender, options_for_select([["Male", 'm'],["Female",'f']]),{required: true}, { :class => "drop_down" }  %>
    <%= f.submit "Sign Up", :class=> "button" %>
  <% end %>
</div>