<div id="welcome_msg">
  <span class="pop">BAC Monkey is a personal tracker for your chemical vices.</span>

  <p>Fill out the form below to start tracking your blood alcohol content (BAC). It will graph your estimated BAC over time, so you can decide whether you've had one beer too many (or too few).</p>
</div>

<div id="svg-container">
  <div class="drive hidden bac-limit">
    <p>You are legally drunk. Don't drive.</p>
  </div>
  <div class="dead hidden bac-limit">
    <p>You are legally dead. Don't get up.</p>
  </div>
</div>

<div id="footer">
  <div class="hidden arrow" id="up"><h5>show</h5></div>
  <div class="arrow" id="down"><h5>hide</h5></div>
  <div id="lower_nav">
      <div id="desktop_links">
        <%= link_to 'Alcohol', '#', :id => 'bac' %>
        <%= link_to 'Caffeine', '#', :id => 'caffeine' %>
        <%= link_to 'Nicotine', '#', :id => 'nicotine' %>
      </div>
      <div id="mobile_links">
        <%= link_to 'Alcohol', '#', :id => 's_bac' %>
        <%= link_to 'Caffeine', '#', :id => 's_caffeine' %>
        <%= link_to 'Nicotine', '#', :id => 's_nicotine' %>
      </div>
  </div>
  <div id="form_container">
    <div id="desktop_forms">
      <%= render "chart/caffeine_form" %>
      <%= render "chart/bac_form" %>
      <%= render "chart/nicotine_form" %>
    </div>
    <div id="mobile_forms" class="hidden">
      <%= render "chart/s_caffeine_form" %>
      <%= render "chart/s_bac_form" %>
      <%= render "chart/s_nicotine_form" %>
    </div>
  </div>
</div>