<!DOCTYPE html>
<html>
<head>
  <title>BackMonkey</title>
  <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="topbar">
  <%= image_tag("smoking_monkey.jpg", :alt => "monkey_logo") %>
  <h3>Back Monkey</h3>
  <% if @current_user %>
    <%= link_to "Sign Out", session_path(@current_user), method: 'DELETE', id:"signout" %>
  <% else %>
    <%= link_to "Sign Up", new_user_path, id:"signup" %>
    <%= link_to "Sign In", new_session_path, id:"signin", remote: true %>
  <% end %>
</nav>
<%= render 'users/sign_in_form' %>
<%= yield %>

</body>
</html>
