<div id="alc_form" class="substance_form">
  <%= form_tag '/alcoholcalc/create.json', :remote=> true do %>
    <div class="line">

      I am a <%= select_tag :gender, options_for_select([["Male", 'm'],["Female",'f']]) %> weighing
    <%= text_field_tag :weight, 200 %> pounds. </div>
    <div class="line">
     I had <%= text_field_tag :alcohol, 10 %>drinks over
    <%= text_field_tag :hours, 2 %> hours.
  </div>
    <div class="submit">
    <%= submit_tag "Find BAC", :class=> "button" %>
    </div>
  <% end  %>

</div>

