<div id="alc_form" class="substance_form">
  <%= form_for :alcohol_calc, url: {action: :create, controller: :alcohol_calc}, remote: true do |f|%>
    <div class="line">
      <%= f.label "Weight" %>
      <%= f.number_field :weight, required: true, min: 1 %>
      <div class="gender">
        <%= f.label "Male" %>
        <%= f.radio_button :gender, "m", required: true %>
        <%= f.label "Female" %>
        <%= f.radio_button :gender, "f", required: true %>
      </div>
    </div>
    <div class="line">
      <%= f.label "How many drinks did you have?" %>
      <%= f.number_field :drinks, required: true, min: 1 %>
    </div>
    <div class="line">
      <%= f.label "Over how many hours?" %>
      <%= f.number_field :hours, required: true, min: 1 %>
    </div>
    <div class="submit">
      <%= f.submit "Check BAC", :class=> "button" %>
    </div>
  <% end %>
</div>